USE [master]
GO
/****** Object:  Database [QuanLyKhachSan_1]    Script Date: 01/12/2021 3:58:25 CH ******/
CREATE DATABASE [QuanLyKhachSan_1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyKhachSan_1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.LMSSQLSERVER\MSSQL\DATA\QuanLyKhachSan_1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyKhachSan_1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.LMSSQLSERVER\MSSQL\DATA\QuanLyKhachSan_1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyKhachSan_1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyKhachSan_1]
GO
/****** Object:  Table [dbo].[CHITIETSDDICHVU]    Script Date: 01/12/2021 3:58:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETSDDICHVU](
	[IDCTSDDICHVU] [int] NOT NULL,
	[IDDICHVU] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCTSDDICHVU] ASC,
	[IDDICHVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETVATTU]    Script Date: 01/12/2021 3:58:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETVATTU](
	[IDCTVATTU] [int] IDENTITY(1,1) NOT NULL,
	[IDPHONG] [int] NULL,
	[IDVATTU] [int] NULL,
	[NGAYLAPDAT] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCTVATTU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTDATPHONG]    Script Date: 01/12/2021 3:58:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDATPHONG](
	[IDDATPHONG] [int] NOT NULL,
	[GIOVAO] [date] NOT NULL,
	[GIORA] [date] NOT NULL,
	[TINHTRANGPHONG] [nvarchar](50) NOT NULL,
	[IDPHONG] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDDATPHONG] ASC,
	[IDPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTNHAPKHO]    Script Date: 01/12/2021 3:58:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTNHAPKHO](
	[IDNHAPKHO] [int] NOT NULL,
	[IDDICHVU] [int] NOT NULL,
	[SOLUONGNHAPKHO] [int] NOT NULL,
	[DONGIA] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNHAPKHO] ASC,
	[IDDICHVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATPHONG]    Script Date: 01/12/2021 3:58:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATPHONG](
	[IDDATPHONG] [int] IDENTITY(1,1) NOT NULL,
	[NGAYDATPHONG] [date] NOT NULL,
	[TIENCOC] [float] NOT NULL,
	[TONGTIENDATPHONG] [float] NOT NULL,
	[IDKHACHHANG] [int] NOT NULL,
	[IDNHANVIEN] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDDATPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 01/12/2021 3:58:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[IDDICHVU] [int] IDENTITY(1,1) NOT NULL,
	[TENDICHVU] [nvarchar](100) NOT NULL,
	[DONGIA] [float] NOT NULL,
	[SOLUONGTON] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDDICHVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 01/12/2021 3:58:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[IDHOADON] [int] IDENTITY(1,1) NOT NULL,
	[NGAYLAP] [date] NULL,
	[TONGTIEN] [float] NOT NULL,
	[TINHTRANG] [int] NOT NULL,
	[IDCTSDDICHVU] [int] NOT NULL,
	[IDDATPHONG] [int] NULL,
	[IDNHANVIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 01/12/2021 3:58:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[IDKHACHHANG] [int] IDENTITY(1,1) NOT NULL,
	[TENKHACHHANG] [nvarchar](100) NOT NULL,
	[CMND] [nvarchar](20) NOT NULL,
	[SDT] [nvarchar](15) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[GIOITINH] [bit] NULL,
	[NGAYSINH] [date] NULL,
	[QUOCTICH] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 01/12/2021 3:58:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[IDLOAIPHONG] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAIPHONG] [nvarchar](100) NOT NULL,
	[SUCCHUA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDLOAIPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 01/12/2021 3:58:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[IDNHANVIEN] [int] IDENTITY(1,1) NOT NULL,
	[TENNV] [nvarchar](100) NOT NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAPKHO]    Script Date: 01/12/2021 3:58:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAPKHO](
	[IDNHAPKHO] [int] IDENTITY(1,1) NOT NULL,
	[IDNHANVIEN] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNHAPKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUSDDICHVU]    Script Date: 01/12/2021 3:58:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUSDDICHVU](
	[IDCTSDDICHVU] [int] IDENTITY(1,1) NOT NULL,
	[NGAYLAP] [date] NULL,
	[IDPHONG] [int] NOT NULL,
	[TONGTIENSDDICHVU] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCTSDDICHVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 01/12/2021 3:58:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[IDPHONG] [int] IDENTITY(1,1) NOT NULL,
	[TENPHONG] [nvarchar](50) NOT NULL,
	[GIAPHONG] [float] NOT NULL,
	[KIEUPHONG] [nvarchar](20) NOT NULL,
	[DONDEP] [nvarchar](50) NOT NULL,
	[MOTA] [nvarchar](1000) NULL,
	[IDLOAIPHONG] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 01/12/2021 3:58:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENTAIKHOAN] [nvarchar](50) NOT NULL,
	[MATKHAU] [nvarchar](1000) NOT NULL,
	[IDNHANVIEN] [int] NOT NULL,
	[QUYEN] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TENTAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VATTU]    Script Date: 01/12/2021 3:58:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VATTU](
	[IDVATTU] [int] IDENTITY(1,1) NOT NULL,
	[TENVATTU] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDVATTU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETSDDICHVU] ADD  DEFAULT ((0)) FOR [SOLUONG]
GO
ALTER TABLE [dbo].[CTDATPHONG] ADD  DEFAULT (N'Đã Đặt') FOR [TINHTRANGPHONG]
GO
ALTER TABLE [dbo].[CTNHAPKHO] ADD  DEFAULT ((0)) FOR [SOLUONGNHAPKHO]
GO
ALTER TABLE [dbo].[CTNHAPKHO] ADD  DEFAULT ((0)) FOR [DONGIA]
GO
ALTER TABLE [dbo].[DATPHONG] ADD  DEFAULT ((0)) FOR [TIENCOC]
GO
ALTER TABLE [dbo].[DATPHONG] ADD  DEFAULT ((0)) FOR [TONGTIENDATPHONG]
GO
ALTER TABLE [dbo].[DICHVU] ADD  DEFAULT (N'CHƯA ĐẶT TÊN') FOR [TENDICHVU]
GO
ALTER TABLE [dbo].[DICHVU] ADD  DEFAULT ((0)) FOR [DONGIA]
GO
ALTER TABLE [dbo].[DICHVU] ADD  DEFAULT ((0)) FOR [SOLUONGTON]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [TONGTIEN]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [TINHTRANG]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT ((0)) FOR [GIOITINH]
GO
ALTER TABLE [dbo].[LOAIPHONG] ADD  DEFAULT (N'Chưa đặt Tên') FOR [TENLOAIPHONG]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT ((0)) FOR [GIOITINH]
GO
ALTER TABLE [dbo].[PHIEUSDDICHVU] ADD  DEFAULT ((0)) FOR [TONGTIENSDDICHVU]
GO
ALTER TABLE [dbo].[PHONG] ADD  DEFAULT (N'PHÒNG CHƯA ĐẶT TÊN') FOR [TENPHONG]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  DEFAULT ((0)) FOR [QUYEN]
GO
ALTER TABLE [dbo].[CHITIETSDDICHVU]  WITH CHECK ADD FOREIGN KEY([IDCTSDDICHVU])
REFERENCES [dbo].[PHIEUSDDICHVU] ([IDCTSDDICHVU])
GO
ALTER TABLE [dbo].[CHITIETSDDICHVU]  WITH CHECK ADD FOREIGN KEY([IDDICHVU])
REFERENCES [dbo].[DICHVU] ([IDDICHVU])
GO
ALTER TABLE [dbo].[CHITIETVATTU]  WITH CHECK ADD FOREIGN KEY([IDPHONG])
REFERENCES [dbo].[PHONG] ([IDPHONG])
GO
ALTER TABLE [dbo].[CHITIETVATTU]  WITH CHECK ADD FOREIGN KEY([IDVATTU])
REFERENCES [dbo].[VATTU] ([IDVATTU])
GO
ALTER TABLE [dbo].[CTDATPHONG]  WITH CHECK ADD FOREIGN KEY([IDDATPHONG])
REFERENCES [dbo].[DATPHONG] ([IDDATPHONG])
GO
ALTER TABLE [dbo].[CTDATPHONG]  WITH CHECK ADD FOREIGN KEY([IDPHONG])
REFERENCES [dbo].[PHONG] ([IDPHONG])
GO
ALTER TABLE [dbo].[CTNHAPKHO]  WITH CHECK ADD FOREIGN KEY([IDDICHVU])
REFERENCES [dbo].[DICHVU] ([IDDICHVU])
GO
ALTER TABLE [dbo].[CTNHAPKHO]  WITH CHECK ADD FOREIGN KEY([IDNHAPKHO])
REFERENCES [dbo].[NHAPKHO] ([IDNHAPKHO])
GO
ALTER TABLE [dbo].[DATPHONG]  WITH CHECK ADD FOREIGN KEY([IDKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([IDKHACHHANG])
GO
ALTER TABLE [dbo].[DATPHONG]  WITH CHECK ADD FOREIGN KEY([IDNHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([IDNHANVIEN])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([IDDATPHONG])
REFERENCES [dbo].[DATPHONG] ([IDDATPHONG])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([IDCTSDDICHVU])
REFERENCES [dbo].[PHIEUSDDICHVU] ([IDCTSDDICHVU])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([IDNHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([IDNHANVIEN])
GO
ALTER TABLE [dbo].[NHAPKHO]  WITH CHECK ADD FOREIGN KEY([IDNHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([IDNHANVIEN])
GO
ALTER TABLE [dbo].[PHIEUSDDICHVU]  WITH CHECK ADD FOREIGN KEY([IDPHONG])
REFERENCES [dbo].[PHONG] ([IDPHONG])
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD FOREIGN KEY([IDLOAIPHONG])
REFERENCES [dbo].[LOAIPHONG] ([IDLOAIPHONG])
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD FOREIGN KEY([IDNHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([IDNHANVIEN])
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD CHECK  (([GIOITINH]=(1) OR [GIOITINH]=(0)))
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD CHECK  (((datepart(year,getdate())-datepart(year,[NGAYSINH]))>=(18) AND (datepart(year,getdate())-datepart(year,[NGAYSINH]))<=(55)))
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD CHECK  (([GIOITINH]=(1) OR [GIOITINH]=(0)))
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD CHECK  (((datepart(year,getdate())-datepart(year,[NGAYSINH]))>=(18) AND (datepart(year,getdate())-datepart(year,[NGAYSINH]))<=(55)))
GO
USE [master]
GO
